# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Azure Functions local settings
local.settings.json

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Logs

*.log

# Testing
.pytest_cache/
.coverage